html, body {
  height: 100%;
  width: 100%;
}

header {
  width: 100%;
  display: inline-block;
  height: 10%;
}

.main {
  display: block;
}

.shapes-container {
  position: relative;
  display: inline-block;
	/*height: 300px;*/
	width: 300px;
  padding:5px;
  border: 2px solid #ccc;
  margin: 10px;
}

.shape-wrapper {
  width: min-content;
}

.shape {
  position: relative;
  display: -webkit-inline-box;
}

#display-grid {
  display: inline-block;
  height: 600px;
  width: 600px;
  border: 1px solid #ccc;
  background-size: 10px;
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.2) 1px, rgba(0, 0, 0, 0) 1px);
  background-position: 1px 9px;
}

#sm-triangle1 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 80px 80px 80px;
  border-color: transparent transparent rgb(155, 82, 5) transparent;

}

#sm-triangle2 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 80px 80px 80px;
  border-color: transparent transparent rgb(70, 65, 244) transparent;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);

}

#med-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 150px 150px;
  border-color: transparent transparent rgb(255, 0, 0) transparent;

}

#lg-triangle1 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 150px 0 150px 150px;
  border-color: transparent transparent transparent rgb(6, 155, 85);

}

#lg-triangle2 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 150px 0 150px 150px;
  border-color: transparent transparent transparent rgb(249, 170, 32);

  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

#square {
  width: 100px;
  height: 100px;
  background: yellow;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#rhomboid {
  width: 150px;
	height: 70px;
	background: rgb(95, 176, 228);
  -webkit-transform: skew(45deg);
  -moz-transform: skew(45deg);
  -o-transform: skew(45deg);
}
