html, body {
  height: 100%;
  width: 100%;
  background: #DDFCED;
  font-family: sans-serif;
}

header {
  width: 100%;
  text-align: center;
  padding-bottom: 50px;
}

.header-links {
  float: right;
  top: 30px;
  right: 100px;
  position: absolute;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

#about {
  position: relative;
  float: left;
  top: 15px;
  left: 90px;
  text-align: left;
  border: none;
}

.main {
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: center;
}

.title {
  font-family: 'Roboto Mono', monospace;
}

.sub-title {
  font-family: 'Roboto Mono', monospace;
  position: relative;
  top: -38px;
  right: 0;
  left: 15px;
  bottom: 0;
  width: fit-content;
  display: inline-block;
  height: fit-content;
}


.button {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  padding: 5px 12px;
  border-radius: 5px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button:focus {
  outline: none;
}

.button:hover {
  cursor: pointer;
  background-color: #4CAF50; /* Green */
  color: white;
}

.shapes-container {
  position: relative;
  display: inline-block;
	height: 300px;
	width: 300px;
  padding:5px;
  margin: 10px;
  border-style: solid;
  border-width: 25px 27px 27px;
  -moz-border-image: url(http://designwoop.com/uploads/2012/03/18_free_subtle_textures_wood_pattern.jpg) 25 27 27 repeat;
  -webkit-border-image: url(http://designwoop.com/uploads/2012/03/18_free_subtle_textures_wood_pattern.jpg) 25 27 27 repeat;
  -o-border-image: url(http://designwoop.com/uploads/2012/03/18_free_subtle_textures_wood_pattern.jpg) 25 27 27 repeat;
  border-image: url(http://designwoop.com/uploads/2012/03/18_free_subtle_textures_wood_pattern.jpg) 25 27 27 repeat;

  background-color: rgb(239, 202, 142);
}

.shape-wrapper {
  width: min-content;
}

.shape {
  position: relative;
  display: -webkit-inline-box;
}

.sidebar {
  width: 300px;
  height: 175px;
  border: 2px solid black;
  overflow: auto;
  margin: 0 auto;
  margin-bottom: 45px;
  margin-top: 10px;
}


.sidebar  a {
  display: block;
  width: 100%;
  height: 50px;
  text-align: center;
  border-bottom: 1px solid black;
  line-height: 52px;
  color: rgb(95, 176, 228);
  background: white;
  font-size: 19px;
}

.sidebar a:hover {
  cursor: pointer;
}

#display-grid {
  display: inline-block;
  height: 600px;
  width: 700px;
  margin-left: 50px;
  margin-right: 25px;
  border: 2px solid black;
  background-size: 10px;
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.2) 1px, rgba(255, 255, 255, 1) 1px);
  background-position: 1px 9px;
  text-align: center;
}

#solution-button {
  position: relative;
  top: 15px;
  right: -40px;
  float: right;
}

#details {
  position: relative;
  color: black;
  border: 2px solid #4CAF50;
  border-radius: 20px;
  top: 16px;
  left: 25px;
  float: left;
  background-color: white;
  padding: 2px 7px 2px 7px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border: 1px solid black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    max-width: 250px;
    background-color: white;
    color: black;
    text-align: left;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid black;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

#reset-button {
  position: relative;
    top: 15px;
    right: 110px;
    float: right;
}

#display-svg {
  height: auto;
  max-width: 475px;
  position: relative;
  margin: 0;
  filter: contrast(0%) brightness(50%) opacity(10%);
  pointer-events: none;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#arrow {
  max-width: 475px;
}

#chevron {
  max-width: 430px;
}

#building {
  max-width: 300px;
}

#camel {
  max-width: 430px;
}

#bird {
  max-width: 500px;
}

#sailboat-1 {
  max-width: 430px;
}

#sailboat-2 {
  max-width: 525px;
}

#swan {
  max-width: 415px;
}

#hammer {
  max-width: 600px;
}

#mountain {
  max-width: 600px;
}
.img-icon {
  height: auto;
  width: 25px;
  margin-right: 10px;
  filter: contrast(0%) brightness(0%);
  vertical-align: middle;
}

#sm-triangle1 {
  left: 75px;
  top: -380px;
}

#sm-triangle2 {
  left: 75px;
  top: -455px;
}

#med-triangle {
  left: 50px;
  top: -540px;
}

#lg-triangle1 {

}

#lg-triangle2 {
  left: 5px;
  top: -305px;
}

#square {
  left: 175px;
  top: -640px;
  transform: rotate(45deg);
}

#rhomboid {
  left: 0px;
  top: -385px;
}
